{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Available Games</h2>
    <ul class="list-group">
        {% for game in games %}
        <li class="list-group-item bg-secondary text-light">
            <h5>{{ game.title }}</h5>
            <p>{{ game.description }}</p>
            <a href="{{ url_for('play_game', game_id=game.id) }}" class="btn btn-success">Play Game</a>
        </li>
        {% endfor %}
    </ul>
    <div class="text-center mt-4">
        <a href="{{ url_for('add_game') }}" class="btn btn-primary">Add New Game</a>
    </div>
</div>
{% endblock %}
